#banner-projects{
	margin-top: 54px;
	margin-bottom: 106px;
	background: var(--blueBO) !important;
}
@media(max-width: 375px){
	#banner-projects{
		margin-top: 0px;
		margin-bottom: 16px;
		height: 37vh !important;
	}
}
@media(max-width: 320px){
	#banner-projects{
		height: 66vh !important;
	}
}
#banner-projects .divider{
	color: var(--whiteBO);
	font-weight: 900;
}
#banner-projects .title{
	padding-top: 10%;
}
#banner-projects .title h1, 
#banner-projects .title h2{
	color: var(--whiteBO);
}
#banner-projects .title h1{
	text-transform: uppercase;
	font-size: 1.125rem;
	letter-spacing: 3px;
}
@media(max-width: 375px){
	#banner-projects .title h1{
		font-size: .75rem;
	}
}
#banner-projects .title h2{
	font-size: 2.5rem !important;
	font-weight: 900 !important;
	line-height: 48px !important;
	text-transform: none;
	letter-spacing: 0px !important;
}
@media(max-width: 375px){
	#banner-projects .title h2{
		font-size: 1.75rem !important;
	}
}

/*
*project-environment
*/
#project-environment{
	margin-bottom: 106px;
}
#project-environment h2{
	font-size: 2.5rem !important;
	font-weight: 900 !important;
	line-height: 48px !important;
	text-transform: none;
	color: var(--blueBO);
	letter-spacing: 0px !important;
	text-align: center;
	padding-bottom: 32px;
}
@media(max-width: 375px){
	#project-environment h2{
		font-size: 1.875rem !important;
		text-align: left;
	}
}
#project-environment p{
	font-size: 1.125rem;
	line-height: 25px;
	width: 100%;
	max-width: 1026px
}

